.blocks
    .container
        h2 В систему Гарант входит:
        .item
            .title Энциклопедия решений
            p | Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. FVV