.blocks#blocks1
    .container
        h2 В систему Гарант входит:
        ul
            li
                a(class='title' href='') Энциклопедия решений
                p Готовые решения практических ситуаций. Тысячи актуализируемых консультационных материалов, которые помогут быстро найти верный ответ на правовой вопрос.

            li
                a(class='title' href='') Энциклопедия судебной практики
                p Подобранные экспертами выдержки из судебных решений, наиболее полно отражающих позицию судов по интересующему вопросу.
            li
                a(class='title' href='') Домашняя правовая энциклопедия
                p Ответы на распространенные юридические вопросы и готовые решения жизненных ситуаций, с которыми может столкнуться каждый.
            li
                a(class='title' href='') Энциклопедия решений
                p Готовые решения практических ситуаций. Тысячи актуализируемых консультационных материалов, которые помогут быстро найти верный ответ на правовой вопрос.
.blocks#blocks2
    .container
        h2 В систему Гарант входит:
        ul
            li
                a(class='title' href='') Энциклопедия решений
                p Готовые решения практических ситуаций. Тысячи актуализируемых консультационных материалов, которые помогут быстро найти верный ответ на правовой вопрос.

            li
                a(class='title' href='') Энциклопедия судебной практики
                p Подобранные экспертами выдержки из судебных решений, наиболее полно отражающих позицию судов по интересующему вопросу.
            li
                a(class='title' href='') Домашняя правовая энциклопедия
                p Ответы на распространенные юридические вопросы и готовые решения жизненных ситуаций, с которыми может столкнуться каждый.