.facts
    .container
        .item
            p.text--right Более <b>63 000 000</b><br>документов в системе
            p.img--left Еженедельно добавляется около <b>20 000</b> документов

        .item
            p.text--right Более <b>7 000 000</b><br>нормативно-правовых актов
            p.img--left Более <b>45 500 000</b><br>судебных решений

        .item
            p.text--right Более <b>560 000</b> консультационных<br> материалов
            p.img--left Более <b>410 000</b><br>типовых форм









