.footer
    .container
        .footer__wrap.flex_row__between.align_center
            img(class='footer__logo' src='img/ntpc-logo2.jpg')
            .footer__location
                p <b>Название:</b> Группа компаний "НТПЦ"
                p <b>Адрес:</b> г. Санкт-Петербург Пр. Энгельса, д. 124 кор. 1
            .footer__contact
                p <b>E-mail:</b> office@3206161.ru
                p <b>Телефон:</b> 8 (812) 320-50-70

