.headerTop
    .container
        .flex_row__between.align_center
            a(class='' href='')
                img(src='img/garant-logo2.png')

            .headerTop__tel
                .tel 8 (812) <b>320-50-70</b>
                .button заказать звонок

            a(class='' href='')
                img(src='img/ntpc-logo.png')

.headerMid
    .container
        .flex_row__between
            form.headerMid__form
                .title Получите полный доступ <b>БЕСПЛАТНО на 3 дня</b>
                input(type='text' placeholder='Имя*')
                input(type='email' placeholder='Email*')
                input(type='tel' placeholder='Телефон*')
                button(class='btn1') Получить доступ
                .agreement Нажимая на кнопку, вы принимаете <a href=''>Положение</a> и <a href=''>Согласие</a> на обработку персональныых данных.

            .headerMid__features
                img(src='img/garant-logo3.png')
                ul
                    li Работает в браузере
                    li без привязки к рабочему месту
                    li Всегда акутальная информация
