doctype html
html(lang="ru-Ru")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Гарант. НТПЦ
        link(rel='stylesheet', href='css/concat-css-libs.css')
        link(rel='stylesheet', href='css/concat-css.css')
    body
        include header
        include video
        include price
        include blocks
        include facts
        include ask
        include footer

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='js/concat-js-libs.js')
        script(src='js/common.js')