.price
    h2 Цены на " ГАРАНТ"
    .container
        .flex_row__start
            form.price__form
                p.title Запросить цены на почту
                .flex_row__between
                    input(type='email' placeholder='E-mail*')
                    input(type='tel' placeholder='Телефон*')
                button(class='btn2') Получить прайс
                .agreement Нажимая на кнопку, вы принимаете <a href=''>Положение</a> и <a href=''>Согласие</a> на обработку персональныых данных.

            .price__right
                img(src='img/garant-logo1.png')
                p Новая интернет версия правовой системы
                span от <b>3950</b> рублей.