.video
    .container
        .video__wrap
            h2 Видео-знакомство с правовой системой
            video(src="video/video.mp4" type="video/mp4" controls="controls" autostart="false" preload="none")
