.blocks {
	margin-top: 40px
	h2 {
		margin: 20px 0 20px 0
		border-bottom: 1px solid black
	}
	.item {
		position: relative
		padding-left: 85px
		width: 350px
		&:before {
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 70px
			height: 70px
			background: orange
		}
		.title {

		}
		p {

		}
	}
}