.headerTop {
	min-height: 105px
	background: #ebf5fd
	border-bottom: 8px solid #c8e5ff
	font-family: latomedium
	color: #365fab
	b {
		color: #e30613
	}
	&__tel {
		text-align: center
		.tel {
			font-size: 29px
		}
		.button {
			font-size: 18px
			text-decoration: underline
			&:hover {
				cursor: pointer
				text-decoration: none
			}
		}
	}
	.flex_row__between {
		height: 105px
	}
}

.headerMid {
	padding-top: 40px
	min-height: 624px
	background: url(/img/header-bg.jpg) center bottom no-repeat
	&__form {
		padding: 35px
		display: flex
		flex-direction: column
		align-items: center
		width: 378px
		height: 427px
		color: #ffffff
		background: url(/img/header-form-bg.png)
		a {
			color: #ffffff
		}
		.title {
			margin-bottom: 30px
			font-family: latolight
			font-size: 26px
			line-height: 32px
			text-align: center
			b {
				font-family: latoregular
				font-weight: 400
			}
		}
		input {
			margin-bottom: 17px
			&:last-child {
				margin-bottom: 19px
			}
		}
		.agreement {
			margin-top: 15px
			text-align: center
		}
	}
	&__features {
		max-width: 500px
		width: 100%
		height: 585px
		background: url(/img/header-features-bg.png) no-repeat
		img {
			display: block
			margin: 0 auto 47px auto
		}
		li {
			position: relative
			padding: 15px 0 15px 14px
			margin: 0 30px 23px 70px
			font-family: latomedium
			font-size: 20px
			color: #4c88be
			text-transform: uppercase
			border-left: 1px solid #a6a6a6
			&:before {
				content: ''
				position: absolute
				top: 50%
				left: -56px
				transform: translateY(-50%)
				width: 48px
				height: 45px
				background: url(/img/header-features-iconset.png) no-repeat
			}
			&:nth-child(2) {
				&:before {
					background-position: 0 -75px
				}
			}
			&:nth-child(3) {
				&:before {
					background-position: 0 -154px
				}
			}
		}
	}
}

@media (max-width: 940px) {
	.headerMid {
		background-size: cover
		&__wrap {
			flex-direction column
			align-items: center
		}
		&__form {
			margin-bottom: 40px
		}
		&__features {
			padding-top: 30px
		}
	}
}

@media (max-width: 760px) {
	.headerTop {
		&__ntpc {
			display: none
		}
	}
}
@media (max-width: 530px) {
	.headerTop {
		min-height: 180px
		&__garant {
			margin: 20px 0 20px 0
		}
		&__wrap {
			flex-direction: column
		}
	}
	.headerMid {
		&__features {
			img {
				padding: 20px
				width: 100%
			}
			ul {
				li {

				}
			}
		}
	}
}

@media (max-width: 390px) {
    .headerMid {
		&__form {
			padding: 14px
			width: 100%
			background-position: -100px -100px
			background-size: 400%
		}
    }
}