.blocks {
  margin-top: 20px;
}
.blocks h2 {
  margin: 0 0 23px 0;
  padding-bottom: 10px;
  font-family: latolight;
  font-size: 26px;
  line-height: 30px;
  color: #454545;
  border-bottom: 1px solid #dadada;
}
.blocks ul {
  display: flex;
  flex-wrap: wrap;
}
.blocks ul li {
  position: relative;
  margin: 0 12px 35px 0;
  padding-left: 90px;
  width: 32%;
}
.blocks ul li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background: url("/img/blocks-icon1.jpg") no-repeat center;
}
.blocks ul li .title {
  display: block;
  margin-bottom: 17px;
  color: #3272c0;
  text-decoration: none;
}
@media (max-width: 930px) {
  .blocks ul li {
    width: 48%;
  }
}
@media (max-width: 660px) {
  .blocks ul li {
    margin-right: 0;
    width: 100%;
  }
}
#blocks1 ul li:nth-child(2):before {
  background-image: url("/img/blocks-icon2.jpg");
}
#blocks1 ul li:nth-child(3):before {
  background-image: url("/img/blocks-icon2.jpg");
}
#blocks2 ul li:nth-child(1):before {
  background-image: url("/img/blocks-icon2.jpg");
}
#blocks2 ul li:nth-child(3):before {
  background-image: url("/img/blocks-icon2.jpg");
}
