.price {
  margin: 92px 0 80px 0;
}
.price h2 {
  margin-bottom: 90px;
  padding: 20px 0 20px 0;
  height: 80px;
  font-family: latoblack;
  font-size: 30px;
  color: #4c88be;
  text-align: center;
  text-transform: uppercase;
  background: #e7f5ff;
}
.price__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 543px;
  width: 100%;
  min-height: 354px;
  background: url("/img/price-form-bg.jpg") no-repeat;
  background-size: cover;
}
.price__form .title {
  margin: 65px 0 28px 0;
  font-family: latoregular;
  font-size: 23px;
  font-weight: 600;
  color: #595959;
  text-transform: uppercase;
}
.price__form input {
  min-width: 192px;
  width: 192px;
  margin-right: 20px;
  border-color: #b1b1b1;
}
.price__form input:last-child {
  margin-right: 0;
}
.price__form input::placeholder {
  color: #777;
  opacity: 1;
}
.price__form input:-ms-input-placeholder {
  color: #777;
}
.price__form input::-ms-input-placeholder {
  color: #777;
}
.price__form button {
  margin: 22px 0 16px 0;
}
.price__form .agreement {
  color: #989898;
}
.price__form .agreement a {
  color: #6a9dcf;
}
.price__right {
  margin: 22px 0 0 10%;
  width: 300px;
  font-family: latoregular;
  text-align: center;
  color: #595959;
}
.price__right p {
  margin: 20px 0 10px;
  font-size: 24px;
  line-height: 29px;
}
.price__right span {
  font-size: 32px;
  font-weight: 600;
}
.price__right span b {
  font-family: latoblack;
  font-size: 50px;
  color: #4c88be;
}
@media (max-width: 930px) {
  .price h2 {
    margin-bottom: 0;
  }
  .price__wrap {
    flex-direction: column;
    align-items: center;
  }
  .price__right {
    margin: 60px 0 0 0;
  }
}
@media (max-width: 630px) {
  .price__form {
    padding: 0 30px 60px 30px;
    background-size: 100% 354px;
  }
}
@media (max-width: 520px) {
  .price__form {
    background-size: 100% 400px;
  }
  .price .input__wrap {
    flex-direction: column;
    height: 100%;
  }
  .price .input__wrap input {
    margin-right: 0;
    margin-bottom: 15px;
    min-height: 39px;
  }
  .price .input__wrap input:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 430px) {
  .price .container {
    padding: 0;
  }
  .price__form {
    padding-right: 15px;
    padding-left: 15px;
    background-size: 200% 470px;
    background-position: -100px 0;
  }
  .price__form button {
    width: 100%;
  }
  .price .input__wrap {
    width: 100%;
  }
  .price .input__wrap input {
    min-width: 100%;
    width: 100%;
  }
}
